
{% if current_user.is_authenticated %}
<a href="{% url 'users:profile' current_user.id %}">{{current_user.username}}</a>
{% endif %}
<hr>
{% for user in  users%}
    <li>
        <a href="{% url 'users:info' user.id %}">{{user.username}}</a> 
        {% if current_user.is_staff or current_user.is_superuser %}
            | <a href="{% url 'users:profile' user.id %}">profile</a>
            | <a href="{% url 'users:delete' user.id %}">delete</a></li>
        {% endif %}
{% endfor %}
<hr>
{% if not current_user.is_authenticated %}
    <a href="{% url 'users:login' %}"> Вход</a>
    | <a href="{% url 'users:register' %}"> Регистрация</a>
    {% else %}
    <a href="{% url 'users:logout' %}"> Выход</a>
{% endif %}


